<form #edititemform="ngForm">
  <nav class="navbar navbar-default" style="margin: 0px; padding-right:10pt;">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">{{titlefragment}} Invoice</span>
        <button #savebutton (click)="onSaveClick($event)" 
                id="savebutton"
                name="savebutton"
                type="button" 
                [disabled]="!this.isdirty" 
                class="btn btn-primary btn-xs navbar-btn pull-right">SAVE</button>
      </div>
    </div>
  </nav>
     
 <div class="panel panel-default" style="margin: 0px; padding:0px;">
    <div class="panel-body">
            <div class="form-group">
                <label class="sr-only" for="Description">Description:</label>
                <div class="input-group input-group-sm">
                  <div class="input-group-addon">Description:</div>
                  <input type="text" class="form-control" 
                  id="Description"
                  name="Description"
                  [(ngModel)]="this.invoiceitem.Description" 
                   placeholder="">
                </div>
              </div>
              <div class="form-group">
                  <label class="sr-only" for="Description">Date:</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-addon">Date:</div>
                    <input type="date" class="form-control" 
                    id="Date"
                    name="Date"
                    [(ngModel)]="this.invoiceitem.Date" 
                     placeholder="">
                  </div>
                </div>
              <div class="form-group">
                  <label class="sr-only" for="DueDate">Qty:</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-addon">Qty:</div>
                    <input type="number" class="form-control" 
                    id="Qty"
                    name="Qty"
                    value="1"
                    [(ngModel)]="this.invoiceitem.Qty" 
                     placeholder="">
                  </div>
                </div>
            
            <div class="form-group">
                <label class="sr-only" for="TaxRate">Rate:</label>
                <div class="input-group input-group-sm">
                  <div class="input-group-addon">Rate:</div>
                  <input type="number" value="0" class="form-control" 
                  id="Rate" 
                  name="Rate"
                  value="500"
                  [(ngModel)]="this.invoiceitem.Rate" 
                  placeholder="">
                </div>
              </div>
                                    
    </div>
  </div>
</form>