<table class="table table-striped table-bordered table-hover small">
  <thead>
    <tr>
      <th>Bill To:</th>
      <th colspan="4">Service Date:</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
          <td>{{ invoice.BillToName }}</td>
          <td>{{ invoice.ServiceDate }}</td>
          <td><button  type="button" 
                      class="btn btn-primary btn-xs glyphicon glyphicon-envelope" 
                      value="Send"
                      (click)="sendClick(invoice.ID)">
                    </button></td>
          <td><button  type="button" 
                      class="btn btn-primary btn-xs glyphicon glyphicon-pencil" 
                      value="Edit"
                      (click)="editClick(invoice.ID)">
                    </button></td>
          <td><button  type="button" 
                      class="btn btn-danger btn-xs glyphicon glyphicon-trash" 
                      value="Delete"
                      (click)="deleteClick(invoice.ID)">
                    </button></td>
      </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
