<div class="container" 
      [ngStyle]="{'display': loadingDisplay}">
    <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom text-info"></i>
    <span class="sr-only">Loading...</span>
</div>
<div [ngStyle]="{'display': sendDisplay}" 
      class="input-group input-group-sm" 
      style="width:80%; margin: 5pt auto 5pt auto; padding: 0px;">
    <input type="text" [(ngModel)]="this.emails"  name="emails" class="form-control" placeholder="Optional: my@email.com; bill-to@email.com">
    <span class="input-group-btn">
    <button class="btn btn-success" type="button" (click)="onSendClick()">SEND</button>
  </span>
</div>
<div class="container">
  <div class="box box1 table-condensed table-bordered"
    style="display: flex; flex-direction: column;"
    [ngStyle]="{'display': pdfviewerDisplay}">
      <div class="row">
        <div class="col-xs-12">
            <pdf-viewer [src]="pdfSrc" 
                        [(page)]="page"
                        [zoom]="this.zoom"
                        [render-text]="true"
                        [original-size]="true"
                        [fit-to-page]="true"
                        [autoresize]="false"
                        [show-all]="false"
                        (after-load-complete)="afterLoadComplete($event)"
                        (click)="pdfClick()"
                        style="display: block; height:365pt;">
            </pdf-viewer>
          </div>
    </div>  
  </div>
  <div class="box box2 table-condensed table-borderless"
    style="flex:1 0 auto;"
    [ngStyle]="{'display': pdfviewerDisplay}">
    <div class="row">
      <div class="col-xs-12">
          <div *ngIf="isLoaded" style="text-align: center;">
              <button class="btn btn-info btn-xs" (click)="prevPage()" [disabled]="page === 1">Prev</button>
              <span class="small">{{ page }} / {{ totalPages }}</span>
              <button class="btn btn-info btn-xs" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
            </div>
          </div>
      </div>
  </div>
</div>