::-webkit-input-placeholder {
    font-size: 9pt;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 9pt;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 9pt;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 9pt!important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 9pt!important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 9pt!important;
 }